#Ignore thumbnails created by windows
Thumbs.db

#Ignore project folders
/_lib/
/_obj/
/_mat/
/*/.vs/
/*/ipch/

/bin/Log.txt

/bin/Game_Debug.*
/bin/Game_Release.*
/bin/001Box_Debug.*
/bin/001Box_Release.*
/bin/002Shapes_Debug.*
/bin/002Shapes_Release.*
/bin/003LandAndWaves_Debug.*
/bin/003LandAndWaves_Release.*